/* === Variables === */

// Colors
$black: #001528;
$blue-grey: #64829A;
$cream-white: #FFFEFA;
$blue-green: #018192;
$sky-blue: rgb(39, 189, 209);
$sky-blue-washed: rgb(39, 189, 209, 0.3);
$blue-green-washed: rgb(1, 129, 146, 0.3);

// Fonts
$header: 'Ubuntu', sans-serif;
$body: 'Ubuntu', sans-serif;
$mono: 'Inconsolata', sans-serif;

// Font Sizes
$base: 18px;
$small: 12px;
$h1: clamp(36px, 7vw, 72px);
$h2: clamp(24px, 7vw, 32px);
$h3: clamp(20px, 7vw, 24px);







