/* Global */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: $cream-white;
}

/* Header */
.rootHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 4em;
    width: 100vw;
    padding: 2em 2em 0 0;
    background-color: $cream-white;
}

/* Nav */
.navContainer {
    position: fixed;
    top: -60vh;
    left: 0;
    padding: 2em;
    width: 100vw;
    z-index: 2;
    background-color: $blue-green;

    -webkit-transition: top 0.6s ease;
    -moz-transition: top 0.6s ease;
    -ms-transition: top 0.6s ease;
    -o-transition: top 0.6s ease;
    transition: top 0.6s ease;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    &.expanded {
        top: 0vw;
    }

    &__linkList {
        margin: 3em 2em;
        list-style-type: none;
        text-align: center;

        li {
            margin: 2em 0;
            a {
                font: $base $mono;
                text-decoration: none;
                color: $cream-white;
            }
        }
    }
}


main {
    padding: 0 2em;
    margin: auto;
    max-width: 1600px;
}

/* Landing Page */
.landingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    &__header {
        font: bold $h1 $header;
        color: $blue-grey;

        &--highlight {
            color: $black;
        }
    }

    &__subtitle {
        margin: 1em 0;
        font: $base $body;

        &--highlight {
            position: relative;
        }

        &--highlight::before {
            position: absolute;
            width: 8.5em;
            content: "";
            z-index: -1;
            top: 0.65em;
            border-width: 6px;
            border-style: solid;
            border-radius: 10px;
            color: $blue-green-washed;
        }
    }
}

/* Featured Projects */
.featuredProject {
    margin: 2em 0;

    // Solve offset issue when clicking anchor link on nav
    position: relative; 
	border-top: 30px solid $cream-white; 
	-webkit-background-clip: padding-box; 
	-moz-background-clip: padding; 
	background-clip: padding-box;

    &:before {
        content: ""; 
        position: absolute; 
        top: -2px; left: 0; right: 0;
    }

    &__projectContainer {
        padding: 1em 0;
    }

    &__projectName {
        margin: 2em 0 1em 0;
        font: bold $h3 $header;
        color: $blue-grey;
    }

    &__imgContainer img{
        max-width: 100%;
        border-radius:10px;
        opacity: 80%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    &__projectDesc {
        margin: 1em 0;
        font: $base $body;
        color: $black;
    }

    &__tagContainer {
        display: flex;
        flex-wrap: wrap;
    }

    &__tag {
        list-style-type: none;
        margin: 0.5em 0.5em 0.2em 0;
        padding: 0.25em 0.5em;
        border: 1px solid $blue-grey;
        border-radius: 5px;
        font: $base $mono;
        color: $blue-grey;
    }
}

/* About Me */
.about {
    margin: 2em 0;

    // Solve offset issue when clicking anchor link on nav
    position: relative; 
    border-top: 30px solid $cream-white; 
    -webkit-background-clip: padding-box; 
    -moz-background-clip: padding; 
    background-clip: padding-box;

    &:before {
        content: ""; 
        position: absolute; 
        top: -2px; left: 0; right: 0;
    }

    &__bio {
        font: $base $body;
        color: $black;

        p {
            margin: 1em 0;
        }

        &--highlight {
            color: $blue-green;
        }
    }

    &__skillsContainer {
        margin: 1.5em 0;
        font: $base $mono;
        color: $blue-grey;
    }

    &__title {
        font-weight: bold;
    }

    &__skills {
        margin: 1em 0 0 1em;
    }
}

/* Contact */
.contact {
    display: grid;
    grid-template-rows: 90% 10%;
    margin: 2em;
    height: 40em;
    place-items: center;
    text-align: center;

    &__subtitle {
        margin-bottom: 1em;
        font: $base $body;
    }

    &__footer {
        display: block;
    }

    &__footerText {
        margin: 1em 0;
        font: $small $mono;
        color: $blue-grey;
    }
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    main {
        padding: 0 7em;
    }
}

@media screen and (min-width: 820px) {
    main {
        padding: 0 7em;
    }

    .navContainer {
        top: 0;
        padding: 2em 4em;
        background-color: $cream-white;
        filter: none;

        &__linkList {
            display: flex;
            justify-content: flex-end;
            margin: 0;
            text-align: right;

            li {
                margin: 0 0 0 2em;

                a {
                    color: $blue-green;
                }
            }
        }
    }

    .contact {
        grid-template-rows: 95% 5%;
    }

    .about {
        &__container {
            display: flex;
        }

        &__bio {
            flex-basis: 50%;
        }

        &__skillsContainer {
            flex-basis: 50%;
            margin: 1em 0 0 1em;
            justify-items: flex-end;
        }
    }
    
}

@media screen and (min-width: 910px) {
    .featuredProject {
        &__projectContainer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 10% 1fr;
        }

        &__projectName {
            margin:0;
            grid-area: 1/1/2/2;
            align-self: center;
        }

        &__imgContainer {
            margin-left: 1.5em;
            grid-area:1/2/3/3;
        }

        &__infoContainer {
            grid-area:2/1/3/2;
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        padding: 0 10em;
    }

    .about {
        &__skillsContainer {
            margin-left: 3em;
        }
    }
}