/* Global */
* {
    /* Ensure that all elements are sized in an intuitive way */
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/* Header */
.rootHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 4em;
    width: 100vw;
    padding: 2em 2em 0 0;
    background-color: $cream-white;

    /* Nav */
    .navContainer {
        position: fixed;
        top: -60vh;
        left: 0;
        padding: 2em;
        width: 100vw;
        z-index: 2;
        background-color: $blue-green;

        -webkit-transition: top 0.6s ease;
        -moz-transition: top 0.6s ease;
        -ms-transition: top 0.6s ease;
        -o-transition: top 0.6s ease;
        transition: top 0.6s ease;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        &.expanded {
            top: 0vw;
        }

        &__linkList {
            margin: 2em;
            list-style-type: none;
            text-align: center;

            li {
                margin: 2em 0;
                a {
                    font: 18px $mono;
                    text-decoration: none;
                    color: $cream-white;
                }
            }
        }

        &__externalLinks {
            text-align: center;

            a {
                text-decoration: none;
                margin: 0.2em;
                text-align: center;

                i {
                    color: $cream-white;
                }
            }
        }
    }
}

  
/* Landing Page */
.landingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0 2em;
    

    &__header {
        font: bold 36px $header;
        color: $blue-grey;

        &--highlight {
            color: $black;
        }
    }

    &__subtitle {
        margin: 1em 0;
        font: 20px $body;

        &--highlight {
            position: relative;
        }

        &--highlight::before {
            position: absolute;
            width: 8.5em;
            content: "";
            z-index: -1;
            top: 0.65em;
            border-width: 6px;
            border-style: solid;
            border-radius: 10px;
            color: $blue-green-washed;
        }
    }
}