/* === Global === */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--background);
}

/* === Header === */
.rootHeader {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	height: 4em;
	width: 100vw;
	padding: 2em 2em 0 0;
	background-color: var(--background);
}

/* Nav */
.navContainer {
	position: fixed;
	top: -60vh;
	left: 0;
	padding: 2em;
	width: 100vw;
	z-index: 2;
	background-color: var(--cta);

	-webkit-transition: top 0.6s ease;
	-moz-transition: top 0.6s ease;
	-ms-transition: top 0.6s ease;
	-o-transition: top 0.6s ease;
	transition: top 0.6s ease;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

	&.expanded {
		top: 0vw;
	}

	// Dark Mode Toggler
	&__toggler {
		position: relative;

		button {
			background: none;
			border: none;
			cursor: pointer;
		}

		i {
			color: $cream-white;

			&:hover {
				opacity: 60%;
				transition: all 0.5s ease;
			}
		}
	}

	&__linkList {
		margin: 3em 2em;
		list-style-type: none;
		text-align: center;

		li {
			margin: 2em 0;
			a {
				font: $base $mono;
				text-decoration: none;
				color: $cream-white;
			}
		}
	}
}

main {
	padding: 0 2em;
	margin: auto;
	max-width: 1600px;
}

/* === Landing Page === */
.landingPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;

	&__header {
		font: bold $h1 $header;
		color: var(--font-color-secondary);

		&--highlight {
			color: var(--font-color-main);
		}
	}

	&__subtitle {
		margin: 1em 0;
		font: $base $body;
		color: var(--font-color-main);

		&--highlight {
			position: relative;
		}

		&--highlight::before {
			position: absolute;
			width: 8.5em;
			content: "";
			z-index: -1;
			top: 0.65em;
			border-width: 6px;
			border-style: solid;
			border-radius: 10px;
			color: var(--cta-washed);
		}
	}
}

/* === Featured Projects === */
.featuredProject {
	margin: 2em 0;

	// Solve offset issue when clicking anchor link on nav
	position: relative;
	border-top: 30px solid var(--background);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;

	&:before {
		content: "";
		position: absolute;
		top: -2px;
		left: 0;
		right: 0;
		background-color: (--background);
	}

	&__projectContainer {
		padding: 3em 0;
	}

	&__projectName {
		margin: 2em 0 1em 0;
		font: bold $h3 $header;
		color: var(--font-color-secondary);
	}

	&__imgContainer img {
		max-width: 100%;
		border-radius: 10px;
		opacity: 70%;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

		&:hover {
			opacity: 100%;
			transition: all 0.5s ease;
		}
	}

	&__projectDesc {
		margin: 2em 0;
		font: $base $body;
		color: var(--font-color-main);
	}

	&__tagContainer {
		display: flex;
		flex-wrap: wrap;
	}

	&__tag {
		list-style-type: none;
		margin: 0.5em 0.5em 0.2em 0;
		padding: 0.25em 0.5em;
		border: 1px solid var(--font-color-secondary);
		border-radius: 5px;
		font: $base $mono;
		color: var(--font-color-secondary);
	}
}

/* About Me */
.about {
	margin: 2em 0;

	// Solve offset issue when clicking anchor link on nav
	position: relative;
	border-top: 30px solid var(--background);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;

	&:before {
		content: "";
		position: absolute;
		top: -2px;
		left: 0;
		right: 0;
	}

	&__bio {
		font: $base $body;
		color: var(--font-color-main);

		p {
			margin: 1em 0;
		}

		&--highlight {
			color: var(--cta);
		}
	}

	&__skillsContainer {
		margin: 1.5em 0;
		font: $base $mono;
		color: var(--font-color-secondary);
	}

	&__title {
		font-weight: bold;
	}

	&__skills {
		margin: 1em 0 0 1em;
	}
}

/* === Contact === */
.contact {
	display: grid;
	grid-template-rows: 90% 10%;
	margin: 2em;
	height: 40em;
	place-items: center;
	text-align: center;

	&__subtitle {
		margin-bottom: 1em;
		font: $base $body;
		color: var(--font-color-main);
	}

	&__footer {
		display: block;
	}

	&__footerText {
		margin: 1em 0;
		font: $small $mono;
		color: var(--font-color-secondary);
	}
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
	main {
		padding: 0 7em;
	}
}

@media screen and (min-width: 820px) {
	main {
		padding: 0 7em;
	}

	/* === Header === */
	.navContainer {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		top: 0;
		padding: 2em 4em;
		filter: none;
		background-color: var(--background);
		opacity: 0;

		&__toggler {
			margin-left: 2em;
			position: static;
			order: 3;

			label {
				position: static;
			}

			i {
				color: var(--cta);
			}
		}

		&__linkList {
			display: flex;
			justify-content: flex-end;
			margin: 0;
			text-align: right;

			li {
				margin: 0 0 0 2em;

				a {
					color: var(--font-color-secondary);

					&:hover,
					&:focus {
						color: var(--cta);
					}
				}
			}
		}
	}
	/* === Landing Page === */
	.landingPage {
		&__subtitle {
			opacity: 0;
		}
	}

	/* === Contact === */
	.contact {
		grid-template-rows: 95% 5%;
	}

	/* === Animation */
	.translateUp {
		animation: translateUp linear 0.5s;
		-webkit-animation: translateUp linear 0.5s;
		-moz-animation: translateUp linear 0.5s;
		-o-animation: translateUp linear 0.5s;
		-ms-animation: translateUp linear 0.5s;
	}

	.translateRight {
		animation: translateRight linear 0.5s;
		-webkit-animation: translateRight linear 0.5s;
		-moz-animation: translateRight linear 0.2s;
		-o-animation: translateRight linear 0.2s;
		-ms-animation: translateRight linear 0.2s;
		animation-fill-mode: forwards;
		animation-delay: 0.5s;
	}

	.fadeIn {
		animation: fadeIn linear 0.5s;
		-webkit-animation: fadeIn linear 0.5s;
		-moz-animation: fadeIn linear 0.5s;
		-o-animation: fadeIn linear 0.5s;
		-ms-animation: fadeIn linear 0.5s;
		animation-fill-mode: forwards;
		animation-delay: 0.75s;
	}

	@keyframes translateRight {
		from {
			transform: translate3d(-10%, 0, 0);
			transform: translate3d(-10%, 0, 0);
		}
		to {
			transform: translateZ(0);
			opacity: 1;
			transform: translateZ(0);
		}
	}

	@keyframes translateUp {
		0% {
			transform: translate3d(0, 10%, 0);
			opacity: 0;
			transform: translate3d(0, 10%, 0);
		}
		to {
			transform: translateZ(0);
			opacity: 1;
			transform: translateZ(0);
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}

@media screen and (min-width: 910px) {
	/* === Featured Projects === */
	.featuredProject {
		&__projectContainer {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 10% 1fr;
			grid-column-gap: 2em;
			grid-template-areas:
				"title img"
				"info img";
		}

		&__projectName {
			margin: 0;
			grid-area: title;
			align-self: center;
		}

		&__imgContainer {
			grid-area: img;
		}

		&__infoContainer {
			grid-area: info;
		}
	}

	/* === About === */
	.about {
		&__container {
			display: flex;
		}

		&__bio {
			flex-basis: 50%;
		}

		&__skillsContainer {
			flex-basis: 50%;
			margin: 0 0 0 1.5em;
			justify-items: flex-end;
		}
	}
}

@media screen and (min-width: 1024px) {
	main {
		padding: 0 10em;
	}

	/* === About === */
	.about {
		&__skillsContainer {
			margin-left: 3em;
		}
	}
}
