/* === Variables === */
/* == Burger Icon == */
.cmp-burgerIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 1.8em;
  width: 2.5em;
  z-index: 3;
  padding: 0.2em;
}
.cmp-burgerIconContainer__icon, .cmp-burgerIconContainer__icon:before, .cmp-burgerIconContainer__icon:after {
  width: 100%;
  height: 3px;
  background-color: #018192;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cmp-burgerIconContainer__icon {
  position: relative;
}
.cmp-burgerIconContainer__icon:before, .cmp-burgerIconContainer__icon:after {
  position: absolute;
  content: "";
  top: -10px;
}
.cmp-burgerIconContainer__icon:after {
  top: 10px;
}
.cmp-burgerIconContainer.expanded .cmp-burgerIconContainer__icon, .cmp-burgerIconContainer.expanded .cmp-burgerIconContainer__icon:before, .cmp-burgerIconContainer.expanded .cmp-burgerIconContainer__icon:after {
  top: 0;
  background-color: #FFFEFA;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cmp-burgerIconContainer.expanded .cmp-burgerIconContainer__icon {
  background-color: transparent;
}
.cmp-burgerIconContainer.expanded .cmp-burgerIconContainer__icon:before {
  transform: rotate(-45deg);
}
.cmp-burgerIconContainer.expanded .cmp-burgerIconContainer__icon:after {
  transform: rotate(45deg);
}

/* == CTA == */
.cmp-cta {
  width: fit-content;
  margin: 2em 0;
  padding: 0.75em 0.5em;
  border: 1px solid #018192;
  border-radius: 5px;
  cursor: pointer;
  background: none;
  font: 18px "Inconsolata", sans-serif;
  color: #018192;
}

/* == External Links == */
.cmp-externalLinks a {
  text-decoration: none;
  margin: 0.2em;
}
.cmp-externalLinks a i {
  color: #018192;
}
.cmp-externalLinks.nav {
  text-align: center;
}
.cmp-externalLinks.nav a > i {
  color: #FFFEFA;
}
.cmp-externalLinks.featuredProject {
  text-align: right;
}
.cmp-externalLinks.contactMe {
  text-align: center;
}

/* == Header == */
.cmp-h2 {
  width: 100%;
  margin: 3em 0 2em 0;
  overflow: hidden;
  font: bold 24px "Ubuntu", sans-serif;
}
.cmp-h2::after {
  display: inline-block;
  height: 0.5em;
  width: 100%;
  margin-left: 5px;
  margin-right: -100%;
  z-index: -1;
  vertical-align: bottom;
  content: "";
  border-top: 0.5px solid #018192;
}
.cmp-h2--contact {
  margin: 3em 0 2em 0;
  font: bold 24px "Ubuntu", sans-serif;
  text-align: center;
  color: #64829A;
}

/* Global */
* {
  /* Ensure that all elements are sized in an intuitive way */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

/* Header */
.rootHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 4em;
  width: 100vw;
  padding: 2em 2em 0 0;
  background-color: #FFFEFA;
  /* Nav */
}
.rootHeader .navContainer {
  position: fixed;
  top: -60vh;
  left: 0;
  padding: 2em;
  width: 100vw;
  z-index: 2;
  background-color: #018192;
  -webkit-transition: top 0.6s ease;
  -moz-transition: top 0.6s ease;
  -ms-transition: top 0.6s ease;
  -o-transition: top 0.6s ease;
  transition: top 0.6s ease;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.rootHeader .navContainer.expanded {
  top: 0vw;
}
.rootHeader .navContainer__linkList {
  margin: 2em;
  list-style-type: none;
  text-align: center;
}
.rootHeader .navContainer__linkList li {
  margin: 2em 0;
}
.rootHeader .navContainer__linkList li a {
  font: 18px "Inconsolata", sans-serif;
  text-decoration: none;
  color: #FFFEFA;
}

main {
  padding: 0 2em;
}

/* Landing Page */
.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.landingPage__header {
  font: bold 36px "Ubuntu", sans-serif;
  color: #64829A;
}
.landingPage__header--highlight {
  color: #001528;
}
.landingPage__subtitle {
  margin: 1em 0;
  font: 20px "Ubuntu", sans-serif;
}
.landingPage__subtitle--highlight {
  position: relative;
}
.landingPage__subtitle--highlight::before {
  position: absolute;
  width: 8.5em;
  content: "";
  z-index: -1;
  top: 0.65em;
  border-width: 6px;
  border-style: solid;
  border-radius: 10px;
  color: rgba(1, 129, 146, 0.3);
}

/* Featured Projects */
.featuredProject {
  margin: 2em 0;
}
.featuredProject__projectContainer:not(:last-child) {
  border-bottom: 0.5px solid #64829A;
}
.featuredProject__projectName {
  margin: 2em 0 1em 0;
  font: bold 20px "Ubuntu", sans-serif;
  color: #64829A;
}
.featuredProject__projectDesc {
  margin: 1em 0;
  font: 18px "Ubuntu", sans-serif;
  color: #001528;
}
.featuredProject__tagContainer {
  display: flex;
  flex-wrap: wrap;
}
.featuredProject__tag {
  list-style-type: none;
  margin: 0.5em 0.5em 0.2em 0;
  padding: 0.25em 0.5em;
  border: 1px solid #64829A;
  border-radius: 5px;
  font: 18px "Inconsolata", sans-serif;
  color: #64829A;
}

/* About Me */
.about {
  margin: 2em 0;
}
.about__bio {
  font: 18px "Ubuntu", sans-serif;
  color: #001528;
}
.about__bio p {
  margin: 1em 0;
}
.about__bio--highlight {
  color: #018192;
}
.about__skillsContainer {
  margin: 1.5em 0;
  font: 18px "Inconsolata", sans-serif;
  color: #64829A;
}
.about__title {
  font-weight: bold;
}
.about__skills {
  margin: 1em 0 0 1em;
}

/* Contact */
.contact {
  display: grid;
  grid-template-rows: 85% 15%;
  height: 90vh;
  place-items: center;
  text-align: center;
}
.contact__subtitle {
  margin-bottom: 1em;
  font: 18px "Ubuntu", sans-serif;
}
.contact__footer {
  display: block;
}
.contact__footerText {
  margin: 1em 0;
  font: 12px "Inconsolata", sans-serif;
  color: #64829A;
}

/*# sourceMappingURL=style.css.map */
